@mixin shimmer {
	background: linear-gradient(135deg, #ffffff, #5e5e5e, #ffffff);
	background-clip: text;
	color: transparent;
	background-size: 200% 100%;
	animation: shimmer 3.33s linear infinite;
}

@keyframes shimmer {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
